.section-one, .section-two, .section-six{
    background-color: #1F2937;
}

.section-three, .section-five{
    background-color: white;
}

.section-four{
    background-color: #E5E7EB;
}

.center-all{
    margin: 10px 100px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header .header-left{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-right ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 15px;
    
}

a:link, a:visited{
    text-decoration: none;
    color: #E5E7EB
}

.top-section{
    display: flex;
    justify-content: space-between;
}

.top-middle-section{
    display: flex;
    flex-direction: column;
}

.image-row{
    display: flex;
    justify-content: space-between;
}

.image-description-pair{
    display: flex;
    flex-direction: column;
}

.bottom-middle-section{
    display: flex;
    flex-direction: column;
}

.bottom-section{
    display: flex;
    justify-content: space-between;
}

.bottom-left{
    display: flex;
    flex-direction: column;
}

