.body{
    display: flex;
    flex-direction: column;  /*makes 4 vertical sections with a header and footer */
}

/* header section*/
.header-container{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header{
    font-weight: 900;
}

.right-header ul{
    display: flex;
    list-style-type: none; /* removes bullet points*/
    gap: 25px;
}

a, a:link, a:visited{
    color:#E5E7EB
    text-decoration: none; /* removes underline from links */
}

/* top section */
.top-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.section-one{
    display: flex;
    flex-direction: column;
}

/* Middle Top Section*/
.middle-top-container{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.image-description-container{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

/* middle bottom section */
.middle-bottom-container{
    background-color: #E5E7EB;
}

/* bottom section */

.bottom-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}